_build/
_backup/

*.pyc

# Ignore Built RST Files
notebooks.rst
notebooks_py.rst
notebooks_jl.rst

# Ignore the IPYNB Checkpoints
_static/notebooks/.ipynb_checkpoints/*

upload.py

upload-live.py
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store