_build/

*.pyc

# Ignore the IPYNB Checkpoints
_static/notebooks/.ipynb_checkpoints/*

upload.py

upload-live.py
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store